body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita rolagem desnecessária */
}

.background {
  background-image: url('fundo.png');
  background-size: 100% 100%; /* Ajusta a imagem para cobrir toda a tela */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Altura total da janela do navegador */
}

.content {
  position: absolute;
  bottom: 0%; /* Aumenta para posicionar mais próximo do fundo */
  width: 100%; /* Largura total */
  text-align: center;
  background: rgba(0, 0, 0, 0.3); /* Transparência aumentada */
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: yellow; /* Cor do texto para o nome sorteado */
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: darkorange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: orange;
}
