/* Define o corpo e o HTML para ter margem zero e sem preenchimento, ocupando toda a altura da janela do navegador e impedindo a rolagem da página */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o corpo e o HTML ocupem 100% da altura da janela do navegador */
  overflow: hidden; /* Desabilita a barra de rolagem, impedindo que o usuário role a página */
}

/* Estilos para o contêiner que contém a imagem de fundo */
.background-image {
  background-image: url('fundo.png'); /* Define a imagem de fundo */
  background-size: 100% 100%; /* Estica a imagem para cobrir completamente o contêiner */
  background-position: center; /* Centraliza a imagem no contêiner */
  background-repeat: no-repeat; /* A imagem não se repete */
  width: 100%; /* Largura do contêiner é a mesma da página */
  height: calc(66.67vh); /* Define a altura como dois terços da altura da janela do navegador */
}

/* Estilos para o contêiner que mostra o botão de sorteio e o nome do vencedor */
.content {
  position: relative; /* Posiciona relativamente para permitir ajustes mais precisos dentro dele */
  width: 100%; /* Largura total do contêiner */
  height: calc(33.33vh); /* Define a altura como um terço da altura da janela do navegador */
  background: rgba(0, 0, 0, 0.5); /* Fundo preto com transparência para destacar o conteúdo sobre a imagem de fundo */
  text-align: center; /* Alinha o texto e outros elementos ao centro */
  padding: 20px 0; /* Preenchimento vertical para espaçar o conteúdo do topo e fundo do contêiner */
  box-shadow: 0 -5px 10px rgba(0,0,0,0.5); /* Sombra na parte superior para criar uma divisão visual entre os contêineres */
}

/* Estilos para o elemento que exibe o nome do vencedor */
#winnerName {
  color: yellow; /* Cor amarela para o texto, dando destaque */
  margin-top: 20px; /* Margem superior para separar do conteúdo acima */
  font-size: 82px; /* Tamanho grande da fonte para chamar atenção */
}

/* Estilos base para todos os botões */
button {
  padding: 10px 20px; /* Preenchimento para tornar o botão mais espesso */
  font-size: 16px; /* Tamanho da fonte do texto dentro do botão */
  color: white; /* Cor do texto */
  background-color: darkorange; /* Cor de fundo do botão */
  border: none; /* Sem borda */
  border-radius: 5px; /* Borda arredondada para um visual mais suave */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Efeito visual ao passar o mouse sobre o botão */
button:hover {
  background-color: orange; /* Muda a cor de fundo para laranja quando o mouse está sobre o botão */
}
